@media (max-width: 720px) {
  ion-item {
    --ion-background-color: #838383;
    text-align: center;
    color: #fff;
  }
  ion-content {
    --ion-background-color: #8ae4c6;
  }
  ion-card-content {
    background-color: #004b69;
    color: #fff;
  }
  #barra {
    font-size: 15px;
  }
  #titulo {
    --ion-font-size: 25px;
    background-color: #8ae4c6;
  }
  ion-title {
    --ion-background-color: #fff;
    font-family: "Bahnschrift";
    --ion-font-size: 20px;
    color: #000;
    text-align: center;
  }
}
@media (min-width: 720px) and (max-width: 1080px) {
  #footer {
    --ion-background-color: #b6b6b6;
  }
  #Persona {
    color: white;
    --ion-background-color: #042b29;
  }
  ion-card-content {
    color: #000;
  }
  ion-title {
    background-color: #042b29;
    font-family: "Courier New", Courier, monospace;
    --ion-font-size: 20px;
    color: #fff;
    text-align: center;
  }
}
@media (min-width: 1080px) {
  ion-header {
    --ion-background-color: #bde;
  }
  ion-item {
    --ion-background-color: #123749;
    text-align: center;
    color: #fff;
  }
  ion-content {
    --ion-background-color: #1d8bbe;
  }
  ion-card-content {
    font-family: Verdana;
    background-color: #fff;
  }
  ion-title {
    font-family: "Bahnschrift";
    size: 90px;
    color: #000;
    text-align: center;
  }
}
@media (orientation: landscape) {
  #main {
    font-size: 25px;
  }
  #vistaHor {
    visibility: visible;
  }
  #vistaVert {
    visibility: hidden;
  }
  #barra {
    size: 15px;
    visibility: visible;
  }
}
@media (orientation: portrait) {
  #titulo {
    font-size: 25px;
  }
  #vistaHor {
    visibility: hidden;
  }
  #vistaVert {
    visibility: visible;
  }
}
h2 {
  font-style: italic;
}
h3 {
  font-style: oblique;
}
